:root {
    --main-color: #10cab7;
}

* {
    margin: 0;
    padding: 0;
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
}

body {
    font-family: "Tajawal", sans-serif;
    display: grid;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    height: 10vh;
    margin: 0 auto;
    padding: 0 5rem;
}

nav .logo {
    display: flex;
    font-size: 2rem;
    align-items: center;
}

nav .logo i {
    color: #63a2ea;
    padding-left: 0.75rem;
}

nav .logo h4 {
    font-family: "Lalezar", cursive;
    color: #63a2ea;
}

nav .nav-items {
    display: flex;
    list-style-type: none;
}

nav .nav-items .nav-item {
    padding: 0 1rem;
}

nav .link {
    text-decoration: none;
    color: #4e547e;
    font-size: 1.4rem;
    padding: 0 1rem;
    transition: .3s;
}

nav .link:hover {
    color: #63a2ea;
    font-size: 1.7rem;
}


/* start home */

.hero-section {
    max-width: 1366px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
}

.hero-section .content {
    display: flex;
    flex-direction: column;
}

.hero-section h4 {
    color: #63a2ea;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.hero-section p {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding-right: 0.5rem;
    box-shadow: 5px 5px 5px rgb(102, 167, 197);
}

.hero-section .content h1 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    color: #fff;
}

.hero-section .hero-img {
    width: 5px;
    height: 5px;
}

.cssbuttons-io-button {
    background: #3876BF;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 1.6em -0.6em #3876BF;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    width: 10rem;
    margin-top: 3rem;
    margin-right: 6.5rem;
}

.hero-section span {
    color: #63a2ea;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #3876BF;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #3876BF;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


/* feuters */

section.feat {
    padding: 2rem 0;
    margin-top: 5px;
}

section.feat .feat-section {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feat-section h4 {
    color: #3876BF;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}


/* crad */

.feat-section .features {
    display: flex;
    justify-content: space-between;
}

.feat-section .features .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    max-width: 17rem;
    min-width: 17rem;
    border-radius: 1rem;
    margin: 1rem;
    transition: all 0.3s;
}

.feat-section .features .feature:hover {
    border: 2px solid #3876BF;
}

.features .feature i {
    font-size: 2rem;
    color: #3876BF;
    margin-bottom: 1rem;
}

.features .feature h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.features .feature p {
    font-size: 1.2rem;
    text-align: center;
    color: #4e547e;
}


/* conect */

section.conect {
    padding: 2rem 0;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: fit-content;
    height: fit-content;
    /* background-color: rgb(238, 238, 238); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}


/* for all social containers*/

.socialContainer {
    width: 52px;
    height: 52px;
    background-color: #0072b1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    padding: 0 5rem;
}

.socialContainer i {
    width: 17px;
    /* background-color: #fff; */
}


/* instagram*/

.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}


/* twitter*/

.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}


/* linkdin*/

.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}


/* Whatsapp*/

.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    background-color: #4e547e;
    height: 15vh;
    margin-top: 5rem;
    padding: 2rem 0;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
}

.footer-sec p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


/* RESPONSEV */

@media (max-width: 320px) {
    nav {
        display: none;
    }
    .hero-section {
        max-width: 320px;
    }
    section.feat .feat-section {
        max-width: 320px;
    }
    .footer-section {
        max-width: 320px;
    }
    .feat-section .features .feature {
        flex-direction: row;
    }
}